backoff==2.2.1
Flask==3.0.3
Flask-JWT-Extended==4.6.0
Flask-RESTful==0.3.10
gunicorn==22.0.0
itsdangerous==2.2.0
kafka-python==2.0.2
pydantic==2.8.2
pydantic-settings==2.4.0
pytest==8.3.2
python-dotenv==1.0.1
requests==2.32.3
